<div class="my-page">
  <h2>予約一覧</h2>
  <table class="my-reservations">
    <thead>
      <tr>
        <th><h2>ショップ名</h2></th>
        <th><h2>予約人数</h2></th>
        <th><h2>予約メニュー</h2></th>
        <th><h2>予約日時</h2></th>
        <th><h2>質問内容</h2></th>
        <th><h2>予約状況</h2></th>
      </tr>
    </thead>

    <tbody>
      <% @reservation.each do |r| %>
        <tr>
          <td><%= r.admin.name %></td>
          <td><%= r.people %><%= "人" %></td>
          <td>
            <% if r.item == nil %>
              <%= '来店予約のみ' %>
            <% else %>
              <%= r.item.name %>
            <% end %>
          </td>
          <td><%= r.date.strftime("%Y年 %m月 %d日") %><%= r.time.strftime('%H:%M') %></td>
          <td><%= r.request %></td>
          <td>
            <% if r.is_active == false %>
              <%= '予約未確定' %>
            <% else %>
              <%= '予約確定済み' %>
            <% end %>
          </td>
          <td><%= link_to '予約を削除する', reservation_path(r), method: :delete, data: { confirm: '本当に予約を削除してもよろしいですか？' } %></td>
          <td><%= link_to '予約内容を変更する', edit_reservation_path(r) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>