<div class="my-page">
  <h2>予約一覧</h2>
  <div class="my-reservations">
    <% @reservation.each do |r| %>
      <%= r.admin.name %>
      <%= r.item.name %>
      <%= r.people %><%= "人" %>
      <h4>予約日時</h4>
      <%= r.date.strftime("%Y年 %m月 %d日") %>
      <%= r.time.strftime('%H:%M') %>
    <% end %>
  </div>
</div>