<div class="admins">
  <% @admins.each do |admin| %>
    <div class="admins-all">
      <%= link_to admin_path(admin) do %><%= admin.name %><% end %>
      <%= admin.address %>
      <%= admin.seat %><%= '席' %>
    </div>
  <% end %>
</div>