<div class="show-admin">
  <div class="admin-info">
    <%= @admin.name %>
    <%= @admin.address %>
  </div>

  <div class="admin-content">
    <table class="admin-items">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @item.each do |item| %>
        <%= link_to item_path(item) do %><%= item.name %><% end %>
        <%= item.introduction %>
        <%= item.price %><%= "円（税抜）" %>
      <% end %>
    </table>
  </div>

  <section class="section">
    <div class="section__block section__block--scoped">
      <h3>pickadate.js 予約ページdemo</h3>
        <div class="fieldset__wrapper">
          <%= form_with model: @reservation, url: reservations_path, local: true do |f| %>
            <div class="form">
              <%= f.text_field :date, id: "date", class: "fieldset__input js__datepicker", placeholder: "Try me..." %>
            </div>

            <div class="form">
              <%= f.text_field :time, id: "time", class: "fieldset__input js__datepicker", placeholder: "Try me..." %>
            </div>

            <div class="form">
              <%= f.collection_select :item_id, @item, :id, :name, { prompt: "メニューを選択してください" } %>
            </div>

            <div class="form">
              <%= f.select :people, options_for_select((0..10).to_a), { prompt: '人数を選択してください' } %>人
            </div>

            <div class="form">
              <%= f.hidden_field :admin_id, value: @admin.id %>
            </div>

            <%= f.submit '予約する' %>
          <% end %>
        </div>
        <div id="result"></div>      <!-- ボタン押下の結果を表示する -->
      </fieldset>
    </div>
  </section>

</div>
