<div class="genres">
  <% @genres.each do |genre| %>
    <div><%= genre.name %><%= link_to '編集する', edit_admins_genre_path(genre) %></div>
  <% end %>
</div>

<div class="new-genre">
  <%= form_with model: @genre, url: admins_genres_path, local: true do |f| %>
    <%= f.label :商品ジャンル登録 %>
    <%= f.text_field :name %>
    <%= f.submit '登録する' %>
  <% end %>
</div>