<div class="kakunin">
  <h2>予約内容確認画面</h2>

  <h3>下記のご予約内容でお間違い無いでしょうか？</h3>

  <p><%= @reservation.date.strftime("%Y年 %m月 %d日") %></p>
  <p><%= @reservation.time.strftime('%H:%M') %></p>
  <p><%= @reservation.item.name %></p>
  <p><%= @reservation.people %>人</p>
  <p><%= @reservation.request %></p>
  <p><%= @reservation.admin.name %></p>
</div>

<div class="sousin">
  <%= form_with model: @reservation, url: reservations_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :time %>
    <%= f.hidden_field :item_id %>
    <%= f.hidden_field :people %>
    <%= f.hidden_field :request %>
    <%= f.hidden_field :admin_id %>

    <%= f.submit '予約を確定する' %>
  <% end %>
</div>

<div class="back">
  <%= form_with model: @reservation, url: back_reservation_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :time %>
    <%= f.hidden_field :item_id %>
    <%= f.hidden_field :people %>
    <%= f.hidden_field :request %>
    <%= f.hidden_field :admin_id %>

    <%= f.submit '入力画面に戻る' %>
  <% end %>
</div>