<div class="items">
  <% @items.each do |item| %>
    <div class="item-content">
      <%= link_to admins_item_path(item) do %><%= item.name %><% end %>
      <%= item.genre.name %>
      <%= item.price %>
      <% if item.is_active == true %>
        <p class="true-item-status">販売中</p>
      <% else %>
        <p class="false-item-status">販売停止中</p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="new-item">
  <%= link_to '商品の新規登録', new_admins_item_path %>
</div>