<div class="my_page">
  <div class="my_items">
  <% @item.each do |item| %>
    <%= attachment_image_tag item, :item_image, size: "100x100" %>
    <%= link_to admins_item_path(item) do %><%= item.name %><% end %>
    <%= item.genre.name %>
      <%= item.price %>
      <% if item.is_active == true %>
        <p class="true-item-status">販売中</p>
      <% else %>
        <p class="false-item-status">販売停止中</p>
      <% end %>
  <% end %>
  </div>
</div>