<!DOCTYPE html>
<html>
  <head>
    <title>Portforio2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <herder class="admin-header">
      <% if admin_signed_in? %>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
        <%= link_to 'マイページ', my_page_admin_admin_path(current_admin) %>
        <%= link_to '予約一覧', admin_reservations_path %>
      <% else %>
        <%= link_to '新規登録', new_admin_registration_path %>
        <%= link_to 'ログイン', new_admin_session_path %>
      <% end %>
    </herder>

    <%= yield %>
  </body>
</html>
